{% extends "./dtl_base.html" %}


{% block content %}
		<div class="row">
			<div class='col-lg-4 col-xs-12'>
				<div class='panel panel-success' >
					<div class="panel-heading">
						<h4 style="text-align: center"><i class="fa fa-eye" aria-hidden="true"></i> &nbsp;Help others<h5>
					</div>
					<div class="panel-body">
						<div class="col-xs-12 col-lg-12">
						<img class="img-rounded" src="https://image.freepik.com/free-icon/man-helping-other-to-stand-up-from-the-floor_318-29254.jpg" width="70%" height="70%" role="button" alt="help">
						<hr>
						</div>

						<div class="col-xs-12 col-xs-12">
						<p style='font-family: tahoma;text-align:center'>Helping unables will definitely benefit you in future at any point of time. <br>Effort never get lost.</p><hr>
							<span class="likebtn-wrapper" data-theme="youtube" data-rich_snippet="true" data-identifier="item_1"></span>
						</div>
					</div>
				</div>
			</div>
			<div class='col-lg-4 col-xs-12'>
				<div class='panel panel-warning' >
					<div class="panel-heading">
						<h4 style="text-align: center"><i class="fa fa-sign-language" aria-hidden="true"></i> &nbsp;Serve poors<h4>
					</div>
					<div class="panel-body">
						<div class="col-xs-12 col-lg-12">
						<img src="http://www.livemint.com/rf/Image-621x414/LiveMint/Period1/2015/08/27/Photos/MOTHER%201-kmQB--621x414@LiveMint.jpg" width="100%" height="130%" role="button" alt="help">
						<hr>
						</div>

						<div class="col-xs-12 col-lg-12">
						<p style='font-family: tahoma;text-align: center'>Serving only family members is not an identification of a good people. We should try to serve all as we all are from the same universe.</p><hr>
							
						</div>
						
					</div>
				</div>
			</div>
			<div class='col-lg-4 col-xs-12'>
				<div class='panel panel-info' >
					<div class="panel-heading">
						<h4 style="text-align: center"><i class="fa fa-wheelchair-alt" aria-hidden="true"></i> &nbsp;Love all<h5>
					</div>
					<div class="panel-body">
						<div class="col-xs-12 col-lg-12">
						<img src="http://www.lifenews.com/wp-content/uploads/2016/09/motherteresa15.jpg" width="100%" height="130%" role="button" alt="help">
						<hr>
						</div>

						<div class="col-xs-12 col-lg-12">
						<p style='font-family: tahoma;text-align: center'>We should love all in the world. Most of us hate animals, poors and others.<br> It is not good.</p><hr>
							
						</div>
					
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
		<div class="col-xs-12 col-lg-12">
			<div class="panel panel-success">
				<div class='panel-heading'>
					<h4 style="text-align: center"><i class="fa fa-ambulance" aria-hidden="true"></i> &nbsp;We have to love them a lot<h5>
				</div>
				<div class="panel-body">
					<div class="col-lg-6 col-xs-12">
					<img src="http://previews.123rf.com/images/anry01/anry011207/anry01120700073/14999987-Rural-children-are-playing-on-the-road--Stock-Photo-poverty-child-children.jpg" width="100%" height="80%" role="button" alt="help">
					</div>
					<div class="col-lg-6 col-xs-12">
					<img src="http://venturesafrica.com/wp-content/uploads/2015/09/mother-theresa.jpg" width="100%" height="100%" role="button" alt="help">
					</div>
				
				</div>
				<div class='panel-footer'>
					<center>Mother Teresa was the great lover of children, poors and all. Visit <a href='https://en.wikipedia.org/wiki/Mother_Teresa'>here </a> to know more about Mother Teresa</center>
				</div>
			</div>
			<div class="panel panel-info">
				<div class='panel-heading'>
					<h4 style="text-align: center"><i class="fa fa-users" aria-hidden="true"></i> &nbsp;Doctors & their team both are Great<h5>
				</div>
				<div class="panel-body">
					<div class="col-lg-6 col-xs-12">
					<img src="http://indiaatyourservice.com/images/portfolio/h7.png" width="100%" height="80%" role="button" alt="help">
					</div>
					<div class="col-lg-6 col-xs-12">
					<img src="http://cdn.inquisitr.com/wp-content/uploads/2015/10/heart-surgery.jpg" width="100%" height="100%" role="button" alt="hospital">
					</div>
				
				</div>
				<div class='panel-footer'>
					<center>Hospital becomes like a temple and heaven for a patient &amp; for their relatives</center>
				</div>
			</div>
			<div class="panel panel-info">
				<div class='panel-heading'>
					<h4 style="text-align: center"> <i class="fa fa-hand-peace-o" aria-hidden="true"></i> &nbsp;Love yourself<h5>
				</div>
				<div class="panel-body">
					<div class="col-lg-10 col-xs-12">
						<img src="http://b2view.biosector2.com/wp-content/uploads/2015/08/ThinkstockPhotos-155283331.jpg" width="100%" height="100%" role="button" alt="hospital">
					</div>
					<div class="col-lg-2 col-xs-12">
						<div class="panel-primary">
							<div class='panel-heading'>
								<h5 style="text-align: center"><i class="fa fa-user-o" aria-hidden="true"></i> &nbsp;My body<h5>
							</div>
							<div class="panel-body">
								<center>This body is like temple & we should respect & love ourself.Just as you need to respect your body, you also need to respect your mind. Challenge yourself with new experiences and information. <hr>The people who don't respect their body they don't want to live in the world & they don't have specific target in their life.So love yourself.</center>
							
							</div>
							<div class="panel-footer">
							<center>Visit <a href="https://www.lds.org/youth/learn/yw/plan-of-salvation/sacred?lang=eng" target='_blank'>here</a> to read about body</center>
							</div>
						</div>
					</div>
				</div>
				<div class='panel-footer'>
					<center>We should respect ourself.</center>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 style="text-align: center;"><i class="fa fa-heart" aria-hidden="true"></i> &nbsp;Heart touching & inspirational videos</h4>
				</div>
				<div class="panel-body">
					<div class="col-lg-6 col-xs-12">
						<iframe width="98%" height="315" src="https://www.youtube.com/embed/EvHmSze1ric" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="col-lg-6 col-xs-12">
						<iframe width="98%" height="315" src="https://www.youtube.com/embed/QmbWAFzOeyg" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="col-lg-6 col-xs-12">
						<iframe width="98%" height="315" src="https://www.youtube.com/embed/95MXXRi3rfM" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="col-lg-6 col-xs-12">
						<iframe width="98%" height="315" src="https://www.youtube.com/embed/XHEcu97FYZ4" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="col-lg-6 col-xs-12">
						<iframe width="98%" height="315" src="https://www.youtube.com/embed/xjUz95vtlew" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="col-lg-6 col-xs-12">
						<iframe width="98%" height="315" src="https://www.youtube.com/embed/5ubiEFxt_TQ" frameborder="0" allowfullscreen></iframe>
					</div>

					<div class="col-lg-6 col-xs-12">
						<iframe width="98%" height="315" src="https://www.youtube.com/embed/AIn2zCSmlh0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="col-lg-6 col-xs-12">
						<iframe width="98%" height="315" src="https://www.youtube.com/embed/i_kZUVc8nDo" frameborder="0" allowfullscreen></iframe>
					</div>
					<!--Add videos end-->
					<br/>					
					<center><a role="button" href='https://www.youtube.com/watch?v=XHEcu97FYZ4' target="_blank" class="btn btn-md btn-success">More videos &raquo;</a></center>
				</div>

				<div class="panel-footer">
					<center>Mother teresa was a great woman.</center>
				</div>
			</div>
		</div>
		</div>
{% endblock %}
<div>
	

