<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<!--body start-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">hygull.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/blogs/">Blogs</a></li>
      <li><a href="#">Posts</a></li>
      <li><a href="/aboutus/">About</a></li>
      {{ login_url_link_as_list|safe }}
      {{ logout_url_link_as_list|safe }}
      <!-- <li><a id="logout" href="{{ logout_url }}">{{ logout }}</a></li> -->
      <!-- <li><a id="login" href="{{ login_url }}">{{ login }}</a></li> -->
      <!-- {{ a_link|safe }} -->
    </ul>
    <!-- <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form> -->
  </div>
</nav>
<div class="container">
<div class="row"><!--row1 start-->
<!-- https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAeLAAAAJDQwYTQ2NmNlLWYzYTEtNDQxNi1hY2EyLTA3MWFlZDkyNDdjNw.jpg -->
  <div class="col-md-2 text-center"><!--column1 start-->
<img src="http://efdreams.com/data_images/dreams/go/go-04.jpg" class="img-circle" alt="Rishikesh" width="100%" height="100%"><br><br>


    <a onclick="window.open('https://www.facebook.com/rishikesh.agrawani', '_blank', 'location=yes,height=500,width=800,scrollbars=yes,status=yes');"><img src="https://cdn4.iconfinder.com/data/icons/green-social-media-icons/744/social_social_media_social_network_facebook_logotype_network-32.png" class="img-circle" alt="Facebook" >
    </a>
    <a onclick="window.open('https://www.linkedin.com/in/rishikesh-agrawani-0358ba119?trk=nav_responsive_tab_profile', '_blank', 'location=yes,height=500,width=800,scrollbars=yes,status=yes');">
    <img src="https://cdn4.iconfinder.com/data/icons/green-social-media-icons/744/social_media_social_network_logo_logotype_linkedin_logos-32.png" class="img-circle" alt="Linkedin" >
    </a>

    <a onclick="window.open('https://twitter.com/RishiAndCodeEx', '_blank', 'location=yes,height=500,width=800,scrollbars=yes,status=yes');">
      <img src="
    https://cdn0.iconfinder.com/data/icons/green-social-media-icons/744/social_media_social_network_logo_twitter_logotype_logo-32.png" class="img-circle" alt="Twitter" >
    </a>

    <a onclick="window.open('https://plus.google.com/u/0/113992208941719062433', '_blank', 'location=yes,height=500,width=800,scrollbars=yes,status=yes');">
      <img src="https://cdn4.iconfinder.com/data/icons/green-social-media-icons/744/social_media_social_network_logo_logotype_logos_google_plus-32.png" class="img-circle" alt="Google+" >
    </a>
    <br>
    <hr>
    <h3 style="color:green;">Wow!!!</h3>
    <h4><a href='https://golang.org/' target="_blank">Go</a></h4>
<img src="https://s-media-cache-ak0.pinimg.com/originals/bc/75/22/bc75225ef044d29d1f2d1c051d9b8063.gif" class="img-circle" alt="Rishikesh" width="100%" height="100%">
<br>
<hr>
<a href='https://golang.org/doc/faq' target="_blank">Frequently asked questions</a>
<br><hr>
<a href='https://golang.org/dl/' target="_blank">Dowload Go comipler</a>
  </div><!--column1 end-->

  <div class="col-md-7 text-center"><!--column2 start-->
  <h2 style="color:gray">Hi <span style='color:green;font-family:sans-serif;'>{{ username }}</span></h2><hr>

<span style='color:gray;font-weight: bold;'>View my all gists at</span> &nbsp;<a href="https://gist.github.com/hygull" target="_blank">https://www.gists.github.com/hygull</a>
<!--   <h2 style="font-weight: bold;font-family: tahoma">Wecome to an execellent Go learning site</h2>-->
  <hr> 
  <a href="https://gist.github.com/hygull/f8810d4f6e56bc4e2e277b33313ae9a0" target="_blank">Operator precedence</a><br><hr>
  <a href="https://gist.github.com/hygull/564a67122f359d6b8f30193e37b28c8a" target="_blank">3 different forms of for loop</a><br><hr>
  <a href="https://gist.github.com/hygull/0f7d8e3981d7690fbb4fcfd96a2df6b8" target="_blank">  Checking availability of keys in map </a><br><hr>
  <a href="https://gist.github.com/hygull/7d7ea0dc03ab51fceb673d2e3bad989f" target="_blank">strconv (Converting a string to an int)</a><br><hr>
  <a href="https://gist.github.com/hygull/89b669fdeb11279e50da183ac4d8c398" target="_blank">Pointer and memory allocation for an object  with new keyword</a><br><hr>
  
  </div><!--column2 end-->

  <div class="col-md-3"><!--column3 start-->
          <form method="POST">{% csrf_token %}
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <!-- <div class="checkbox">
              <label><input type="checkbox" name="remember"> Remember me</label>
            </div> -->
            <button type="submit" class="btn btn-default">SignUp</button>
          </form>
          <hr>
           <img src="http://lerablog.org/wp-content/uploads/2013/12/Gophers.jpg" class="img-rounded" alt="Gophers" width="100%" height="100%">
           <hr>
           <span style="color:gray;font-size: 20px">References</span><br>
           <a href="https://www.gobyexample.com" target="_blank">gobyexample.com</a><br>
           <a href="https://www.tutorialspoint.com/go" target="_blank">tutorialspoint.com</a><br>
           <a href="https://www.dotnetperls.com/go" target="_blank">dotnetperls.com</a><br>
          
           <a href="https://tour.golang.org/welcome/1" target="_blank">Take a tour on Golang</a><br>
           <a href="https://talks.golang.org/2013/bestpractices.slide#1" target="_blank">Best practices on golang(slides)</a>
  </div><!--column3 end-->
  </div><!--row1 end-->
 <ul class="pager text-center">
    <li><a href="#">Next</a></li>
  </ul>
</div><!--container1 end-->
<!--body end-->
</body>
</html>