<div class="form-group">
      <label class="control-label col-sm-2" for="{{ form.username.id_username }}">Username</label>

    <!--   <label for="{{ form.username.id_username }}">Username</label> -->
      <div class="col-sm-10">
        <!-- <input type="email" class="form-control" id="email" placeholder="Enter email"> -->
                  {{ form.username }}
              
      </div>
</div>  
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="{{ form.email.id_email }}">Email</label>
      
      <!-- <label for="{{ form.email.id_email }}">Email</label> -->
      <div class="col-sm-10">          
        <!-- <input type="password" class="form-control" id="pwd" placeholder="Enter password"> -->
              
                {{ form.email }}
            
      </div>

    </div>
    <!-- <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
      </div>
    </div> -->
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-success" type="submit" class="btn btn-default">SignUp</button>
      </div>
    </div>