<base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
<div id="captioned-gallery">
	<figure class="slider">
		<figure>
			<img src="http://2.bp.blogspot.com/-4DWcRXqV_XA/VcyrxW4G-tI/AAAAAAAACqQ/ozQzV3fRMlE/s1600/Helping%2Bthe%2BPoor.jpg" height="100%" weight="100%" alt="poor">
			<figcaption>Mother Teresa</figcaption>
		</figure>
		<figure>
			<img src="https://static.pexels.com/photos/479/landscape-nature-sunset-trees.jpg" height="100%" weight="100%" alt="nature">
			<figcaption>Grass</figcaption>
		</figure>
		<figure>
			<img src="http://feelgrafix.com/data/wallpaper-hd/Wallpaper-HD-12.jpg" height="100%" weight="100%" alt="sunset">
			<figcaption>Sunset</figcaption>
		</figure>
		<figure>
			<img src="https://4.bp.blogspot.com/-k8IX2Mkf0Jo/U4ze2gNn7CI/AAAAAAAA7xg/iKxa6bYITDs/s0/HOT+Balloon+Trip_Ultra+HD.jpg" alt='parasuit'>
			<figcaption>Parasuit</figcaption>
		</figure>
		<figure>
			<img src="http://www.intrawallpaper.com/static/images/canada-winter-moraine-lake-alberta-hd-high-511002_beY0bFB.jpg" alt='river'>
			<figcaption>River</figcaption>
		</figure>
	</figure>
</div>